vimtex_wsl_fix 1
startup_commands    toggle_synctex;toggle_fullscreen;toggle_fullscreen;close_visual_mark
page_separator_width 10
scroll_past_document_ends 0

use_ruler_to_highlight_synctex_line 0
synctex_highlight_color    1.0 1.0 0.2

new_command _print_file SumatraPDF.exe -print-dialog -exit-when-done "%{file_path}"